body {
  margin: 10px;
}
.page-header {
  width: 100%;
}
.logo:hover {
  cursor: pointer;
}
.header-item {
  font-size: 0.8em;
  margin-left: 20px;
  cursor: pointer;
  float: right;
}
.modal-trigger {
  color: black;
}
.page-header {
  height: 35px;
  font-size: 4em;
  vertical-align: middle;
  text-align:center;
}
.collapsible-body:hover {
  background-color: aliceblue;
  cursor: pointer;
}
.user-msg {
  color: red;
}
.save-button {
  margin-left: 15px;
}
.main{
      margin-top: 80px;
}
.collapsible-header:hover {
   background-color: lightgray;
 
}

canvas{
  margin-left:600px;
}